.app {
  text-align: center;
}

.black-rectangle {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 50px;
  color: rgb(0, 0, 0); /* Text color to contrast with the black background */
  border: 3px solid black;
}

.content {
  padding: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.recipe-suggestions {
  flex: 1;
  margin-right: 10px; /* Adjust as needed */
  border: 2px solid black; /* Separate black border for RecipeSuggestions */
  padding: 10px; /* Add padding for better appearance */
  border-radius: 50px;
}
.fridge-contents {
  flex: 1;
  margin-left: 10px; /* Adjust as needed */
  border: 2px solid black; /* Separate black border for FridgeContents */
  padding: 10px;
  border-radius: 50px;
}

.fridge-contents ul,
.recipe-suggestions ul {
  list-style-type: none;
  padding: 0;
}
